{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Emerge time for atom: {{ atom_name }}</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Architecture</th>
                <th>Memory [mb]</th>
                <th>Cores</th>
                <th>Time [minute]</th>
            </tr>
        </thead>
        <tbody>
            {% for emertime in emertimes %}
            <tr>
                <td>{{ emertime.arch }}</td>
                <td>{{ emertime.memory_mb }}</td>
                <td>{{ emertime.core}}</td>
                <td>{{ emertime.time_min }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}